/.circleci
/.idea
/3rdparty
/backup
/build
/cfg
/cmake
/data
/include
/obj
/results
/scripts
/src
/.travis.yml
/build.ps1
/build.sh
/CMakeLists.txt
/darknet
/DarknetConfig.cmake.in
/image_yolov3.sh
/image_yolov4.sh
/json_mjpeg_streams.sh
/libdarknet.so
/LICENSE
/Makefile
/net_cam_v3.sh
/net_cam_v4.sh
/uselib
/vcpkg.json
/video_yolov3.sh
/video_yolov4.sh
/yolov4-tiny.weights
/yolov4.weights
